body
{
    background-color: beige;
}

h1
{
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

p
{
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
}

a
{
    text-decoration: none;
    color: purple;
    transition: color 0.5s ease-out;
}

a:hover
{
    color: blue;
    transition: color 0.5s ease;
}

button, input[type="submit"]
{
    border: 0.2em solid black;
    border-radius: 0.2em;
    background-color: lightgray;
    transition: background-color 0.5s ease-out;
}

button:hover, input[type="submit"]:hover
{
    background-color: darkgray;
    transition: background-color 0.5s ease;
}

form>input, form>label
{
    margin-right: 1em;
    margin-bottom: 1.5em;
}

select, select>option
{
    width: fit-content;
}

.footer_hr
{
    border: 0.1em solid black;
    margin-top: 1em;
    margin-bottom: 1em;
}

#messages
{
    background-color: #1b1b1b;
    color: #41FF00 ;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    padding: 1em;
}

.key_value_container
{
    display: flex;
    margin-bottom: 0.5em;
    align-items: baseline;
}

.key
{
    color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    margin-right: 1em;
}

.value
{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

.list_container
{
    width: fit-content;
    height: fit-content;
    background: rgba(245, 245, 220, 0.1);
    border: 0.1em solid black;
    border-radius: 0.3em;
    box-shadow: 0.4em 0.3em 0.3em black;
    margin-left: 1em;
    margin-bottom: 3em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.list_container ol, .list_container ul
{
    margin-left: 1em;
    padding: 1em;
}

.list_container ol li, .list_container ul li
{
    width: fit-content;
    color: darkblue;
    margin: 0.5em;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0.3em;
    border-left: 0.1em solid transparent;
    border-right: 0.1em solid transparent;
    border-radius: 0.3em;
    background-color: rgba(245, 245, 220, 0.1);
    transition: border 0s ease-out;
    transition: background-color 0.2s ease-out;
    list-style-type: '‣ ';
}

.list_container ol li:hover, .list_container ul li:hover
{
    background-color: rgb(194, 178, 128, 0.5);
    border-left: 0.1em solid rgba(0, 0, 0, 0.5);
    border-right: 0.1em solid rgba(0, 0, 0, 0.5);
    transition: border 0s ease;
    transition: background-color 0.2s ease;
}

form label, form input[type="text"], form input[type="textarea"], form input[type="password"], form input[type="submit"]
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
}

form input[type="checkbox"]
{
    transform: scale(1.5);
}

form input[type="number"], form input[type="float"]
{
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
}